# Ignore build or compilation files
dist/
build/

# Ignore dependency directories
node_modules/
bower_components/

# Ignore Markdown files
*.md

# Ignore a Prettier configuration file, if applicable
.prettier.config.js

# Ignore specific Next.js directories
.next/
