@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: #FFFFFF;
  background-color: #141D2E;
}

:is(button, a, img, input) {
  user-select: none;
}

:is(button, a) {
  transition: 0.3s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: #1E2B48;
}
