@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #FFFFFF;
  background-color: #141D2E;
}

button,
a {
  transition: 0.5s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--transparent);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5px;
  background-color: #1E2B48;
}

::selection {
  background-color: rgba(20, 29, 46, 0.1);
}
