@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
  @apply select-none;
  -webkit-user-drag: none;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
  scrollbar-color: #1E2B48 transparent;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: #FFFFFF;
  background-color: #141D2E;
}

a {
  text-decoration: none;
}
